@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,900|Changa+One|Lobster+Two:400italic);

body {
  background-color: #eeeeee;
  color: #333333;
  font-family: 'Source Sans Pro', Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  margin: 0;
  padding: 40px 0;
}
img {
  max-width: 100%;
}

.w {
  margin: 0 auto;
  max-width: 800px;
}

.hire-me {
  background-color: #F94848;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 20px;
}
#logo { text-align: center; }
#logo hgroup { margin: 0 0 40px; }
#logo h1, #logo h2 {
  line-height: 1;
  margin: 0;
}
#logo h1 {
  font-family: "Changa One";
  font-size: 36px;
  text-transform: uppercase;
}
#logo h2 {
  font-family: "Lobster Two";
  font-size: 18px;
}

.w-photo {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
  padding: 20px;
}
.photo-img { border-radius: 3px; }
.photo-info {
  border-radius: 3px;
  margin-top: 8px;
}
.photo-info h1 {
  line-height: 1;
  margin: 0;
}
.photo-info p {
  color:#777777;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  #logo { text-align: left; }
}
@media (max-width: 841px) {
  body { padding: 20px; }
}
@media (max-width: 499px) {
  .photo-info h1 { font-size: 24px; }
  .hire-me {
    font-size: 12px;
    right: 5px;
    top: 5px;
  }
}